# Python
env/
.venv/
__pycache__/
*.pyc
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
dist/
*.local

# OS / editor
.DS_Store
.idea/
.vscode/

# Infra secrets
*.tfstate
*.tfstate.*
.terraform/
